{% extends 'base.html' %}
{% block title %}
    Add Student
{% endblock title %}
{% block body %}
 <div class="container mt-3">
    <form action="add_student" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name = "name" required>
      </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name = "email" placeholder="name@example.com">
      </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dob"name = "dob" required>
      </div>
    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" aria-label="Default select example" name="gender">
            <option selected>Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="roll_number" class="form-label">Roll Number</label>
        <input type="text" class="form-control" id="roll_number" name="roll_number" required>
      </div>
      <div class="mb-3">
        <label for="admissiondate" class="form-label">Admission Date</label>
        <input type="date" class="form-control" id="admissiondate" name="admissiondate"required>
      </div>
      <div class="mb-3">
        <label for="course" class="form-label">Course name</label>
        <input type="text" class="form-control" id="course" name= "course"required>
      </div>
      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input type="file" class="form-control" id="photo" name="photo" accept="image/**" required>
      </div>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>

     
 </div>
{% endblock body %}
